body {
  margin: 0;
  background-color: #131314;
}

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  margin: auto;
  height: 60px;
  z-index: 1000; /* keep header above content */
}

.menu {
  display: flex;
  width: 70%;  
  margin: auto; 
}

.logo {
  width: 10%;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #9b9b9b;
  font-size: 16px;
  font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
  color: orangered;
}

.function {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#but_buy {
  height: 40px;
  background-color: #FF5833;
  border: 0;
  width: 100px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  margin: auto;
  cursor: pointer;
}

#but_login {
  background-color: black;
  border: 0;
  color: white;
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
}

#but_buy:hover {
  background-color: rgb(254, 122, 74);
}

#but_login:hover {
  color: rgb(254, 94, 36);
}

.ad {
  display: flex;
  justify-content: center;
}

/* ensure content starts below the fixed header */
main {
  padding-top: 70px; /* a bit more than header height to add breathing room */
}

.ad img {
  width: 70%;
  margin: 70px 0 15px 200px;
}


/* copy style thay */
.container {
    width: 78%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.tentheloai {
  color: white;
  font-size: x-large;
  font-weight: 600;
  margin: 20px 0 0 10px;
}

.banner {
  position: relative;
  width: 98%;
  height: 550px;
  border-radius: 5px;
  background-image: url("/img/640x396-muado.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
    
}

.danhsach-tt {
  background-color: #FF5833;
  width: 95%;
  margin: auto;
  border-radius: 20px;
  display: none;
}

.tt-codinh {
    display: flex;
    justify-content: space-around;
    margin: 0;
    
}

.tt {
    display: flex;
    justify-content: space-around;
    text-decoration: dashed;
    color: white;
    font-size: larger;
    font-weight: 500;
    padding: 0px 10px;
    }

.playbtn {
  display: flex;
  justify-content: center;
}

.playbtn button {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 0;
  font-size: x-large;
  color: red;
}

.playbtn button:hover {
    cursor: pointer;
    opacity: 0.4;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}


.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 18%;
}

.ten {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: large;
}

.anh {
  position: relative;
  z-index: 0;

}

.phim .anh img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.anh .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 303px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.1s;
  z-index: 1;
}

.overlay a {
  background-color: rgba(253, 253, 253, 0.707);
  padding: 20px;
  color: black;
  border-radius: 20px;
}

.overlay a:hover {
  opacity: 1;
  color: rgb(254, 2, 2);
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}
/* groove */
.groove {
  width: 1100px;
  height: 1px;
  margin: 30px 0;
  background-color: #9b9b9b;
}

/* footer */
footer {
  width: 75%;
  margin: auto;
}

.foot_one {
  display: flex;
  justify-content: space-between;
}



.foot_one-logo img {
  width: 120px;
  margin: 5px 0 15px 0;
}

.foot_one-content h5 {
  color: #9b9b9b;
  margin: 20px 10px;
}

.foot_one-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foot_one-content ul li a {
  color: white;
}

.foot_one-content ul li a:hover {
  color: orangered;
}

.foot_one-content--contact ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foot_one-content--contact ul li {
  color: white;
}

.foot_two p {
  color: #c8c8c8;
  font-size: small;
  font-weight: 100;
  width: 70%;
}