body{
    margin: 0px;
}
ul{
    margin: 0px;
}
.DanhMuc{
    background-color: #2fa4e7;
    padding: 10px;
}
.DanhMuc-DanhSach{
    display: flex;
    list-style: none; /*dùng để xóa dấu chấm của thẻ list */  
}
.DanhMuc_Muc{
    margin: 10px;
}
.DanhMuc_LienKet{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.DanhMuc_LienKet:hover {
    color: green;
}
.logo{
    background-color: lightblue;
    height: 70px;
    display: flex;
}
#main_left{
    width: 80%;
    border-radius: 50px;
}
#main_right{
    width: 20%;
    height: 400px;
    background-color: lightgray;
}
main{
    display: flex;
}
.Tin_Tuc{
    background-color: white;
}
.Tieu_de{
    background-color: #2fa4e7;
    color: white;
    text-decoration: none;
    font-size: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
}
.danhsach_tintuc{
    display: flex;
    justify-content: space-between;
}
.baiviet{
    height: 100px;
    background-color: orange;
    width: 32%;
}
.img{
    height: 70%;
    width: 100%;
    background-color: antiquewhite;
}